<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>eventos</title>
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
        <nav class="navbar fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="/images/calendario.png" alt=" " width="30" height="30" class="d-inline-block align-text-top">
                        Tu Agenda Digital
                </a>
            </div>
        </nav>      
    </nav>
    

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Este es el Logo:  <img src="/images/calendario.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
                </h4>
                </div>
                <div class="modal-body">
                <img src="/images/calendario.png" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
                <h5>Era es un easter egg ;) </h5>
                <h3>En esta pagina puede crear, editar y eliminar tus Eventos que lo disfrutes</h3> 
                <button class="btn6" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" >cerrar</button>
            </div>   
            </div>
            </div>
    </div>
            <ul> 
            <h3>Listado De Tus Eventos</h3>  
                <% eventos.forEach(function(evento) { %>          
                
            <li>  
                <h2 class="asunto">Titulo: <%= evento.asunto %></h3>
                <p class="descript">Descripción: <%= evento.descript %></p>
                <p class="prioridad">Prioridad: <%= evento.prioridad %></p>
                <p class="fecha-hora">Fecha y Hora: <%= evento.fecha_hora %></p>

                <button class="btn3" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-asunto="<%= evento.asunto %>" data-prioridad="<%= evento.prioridad %>" data-descript="<%= evento.descript %>" data-fecha-hora="<%= evento.fecha_hora %>">Editar</button>
                <div class="modal fade modal-editar" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Editar Evento</h1>
                                <img src="/images/calendario.png" alt="Tu Agenda Digital" width="30" height="30" class="d-inline-block align-text-top">
                            </div>
                            
                            <div class="mbody">

                                    
                                    <label for="fecha_hora">Fecha y Hora:</label>
                                    <input type="datetime-local" name="fecha_hora" required>
                                    <button class="btn6" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" >Cancelar</button>
                                    <button type="submit" class="btn4">Actualizar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/eventos/<%= evento._id %>/eliminar" method="POST">
                    <button class="btn5" type="submit">X</button>
                </form>
            </li>
            <% }); %>
        </ul>


        
    <button class="btn1" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">+</button>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Nuevo Evento</h1>
                    <img src="/images/calendario.png" alt="Tu Agenda Digital" width="30" height="30" class="d-inline-block align-text-top">
                </div>
                
            <div class="mbody">
                <form action="/eventos" method="POST">
                    <label for="asunto">Titulo:</label>
                    <input type="text" name="asunto" required>
                    
                    <label for="descript">Descripción:</label>
                    <textarea name="descript" required></textarea>
                    
                    <label for="prioridad">Prioridad:</label>
                    <select name="prioridad" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    
                    <label for="fecha_hora">Fecha y Hora:</label>
                    <input type="datetime-local" name="fecha_hora" required>
                    <button class="btn6" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" >Cancelar</button>
                    <button type="submit" class="btn2">Crear</button>
                </form>
            </div>
    </div>
</div>
<script>
    let editar = document.querySelectorAll('.btn3');

    editar.forEach(function(button) {
        button.addEventListener('click', function() {
            let modal = document.getElementById('exampleModalToggle2');
            let asuntoInput = modal.querySelector('input[name="asunto"]');
            let prioridadSelect = modal.querySelector('select[name="prioridad"]');
            let descriptTextarea = modal.querySelector('textarea[name="descript"]');
            let fechaHoraInput = modal.querySelector('input[name="fecha_hora"]');

            asuntoInput.value = button.getAttribute('data-asunto');
            prioridadSelect.value = button.getAttribute('data-prioridad');
            descriptTextarea.value = button.getAttribute('data-descript');
            fechaHoraInput.value = button.getAttribute('data-fecha-hora');
        });
    });
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>